$primary-color: white;
$secondary-color: rgb(55, 124, 230); 
$grey-color: rgb(143, 160, 186);
$bg-color: #121217;
$bg-color-secondary: rgba(70, 113, 156, 0.3);
//$bg-color-secondary-darken: rgba(70, 113, 156, 0.7);
$bg-color-secondary-darken: rgba(117, 191, 255, 0.22);

// $primary-color: white;
// $secondary-color: rgb(55, 124, 230); 
// $timestamp-color: rgb(143, 160, 186);
// $bg-color: #121217;
// $bg-color-secondary: rgba(112, 128, 144, 0.3);